include AUTHORS
include CHANGELOG.rst
include LICENSE
include README.rst
include tox.ini
recursive-include docs *.py *.rst
recursive-include taggit/locale *.mo *.po
recursive-include tests *.html *.py
