include AUTHORS
include CHANGELOG.rst
include LICENSE
include README.rst
include pyproject.toml
include setup.cfg
recursive-include taggit *.py
recursive-include taggit/templates *.html
recursive-include taggit/locale *.mo *.po
prune tests
prune sample_taggit
prune docs
